/*========== GOOGLE FONTS ==========*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*========== VARIABLES CSS ==========*/

@media screen and (min-width: 1024px) {
  :root {
    --normal-font-size: 1vw;
    --small-font-size: .875vw;
    --smaller-font-size: .813vw;
  }
}

/*========== BASE ==========*/
*, ::before, ::after {
  box-sizing: border-box;
}


body {
  margin: var(--header-height) 0 0 0;
  padding: 1rem 1rem 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  overflow: hidden;
}

h3 {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}




/*========== HEADER ==========*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color:var(--first-color);
  box-shadow: 0 1px 0 rgba(22, 8, 43, 0.1);
  padding: 0 1rem;
  z-index: var(--z-fixed);
  color: var(--container-color);
  
}

.header__text-container {
  flex: 1;
  display: flex;
  justify-content: center;
  font-size: 1.3vw;
}

.header__container {
  display: flex;
  align-items: center;
  height: var(--header-height);
  justify-content: space-between;
}

.header__img1{

  object-fit: contain; /* Isso fará a imagem se ajustar ao contêiner, mantendo sua proporção */
  max-height: 12vh; /* 80% da altura da navbar, se a navbar tem 15vh */
  max-width: 70px; /* Ajuste conforme necessário */
  height: auto;
  width: auto;
}

.logo_stellantis{
  object-fit: contain;
  max-height: 40vh; /* ou outro valor que você preferir */
  max-width: 200px; /* ou outro valor que você preferir */
  height: auto;
  width: auto;
}


.header__logo {
  color: var(--title-color);
  font-weight: var(--font-medium);
  display: none;
}



.header__input {
  width: 100%;
  border: none;
  outline: none;
  background-color: var(--first-color-light);
}

.header__input::placeholder {
  font-family: var(--body-font);
  color: var(--text-color);
}

.header__icon, 
.header__toggle {
  font-size: 1.2vw;
}

.header__toggle {
  color: var(--title-color);
  cursor: pointer;
}

/*========== NAV ==========*/
.nav {
  position: fixed;
  top: 0;
  left: -100%;
  height: 100vh;
  padding: 1rem 1rem 0;
  background-color: var(--container-color);
  box-shadow: 1px 0 0 rgba(22, 8, 43, 0.1);
  z-index: var(--z-fixed);
  transition: .4s;
}

.nav__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 3rem;
  overflow: auto;
  scrollbar-width: none; /* For mozilla */
}

/* For Google Chrome and others */
.nav__container::-webkit-scrollbar {
  display: none;
}

.nav__logo {
  font-weight: var(--font-semi-bold);
  margin-bottom: 2.5rem;
}

.nav__list, 
.nav__items {
  display: grid;
}

.nav__list {
  row-gap: 2.5rem;
}

.nav__items {
  row-gap: 1.5rem;
}

.nav__subtitle {
  font-size: var(--normal-font-size);
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: var(--text-color-light);
}

.nav__link {
  display: flex;
  align-items: center;
  color: var(--text-color);
}

.nav__link:hover {
  color: var(--first-color);
}

.nav__icon {
  font-size: 1.2vw;
  margin-right: 8px; /* Espaço entre o ícone e o texto */
}

.nav__name {
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
  white-space: nowrap;
}

.nav__logout {
  margin-top: 5rem;
}

/* Dropdown */
.nav__dropdown {
  overflow: hidden;
  max-height: 21px;
  transition: .4s ease-in-out;
}

.nav__dropdown-collapse {
  background-color: var(--first-color-light);
  border-radius: .25rem;
  margin-top: 1rem;
}

.nav__dropdown-content {
  display: grid;
  row-gap: .5rem;
  padding: .75rem 2.5rem .75rem 1.8rem;
}

.nav__dropdown-item {
  font-size: var(--smaller-font-size);
  font-weight: var(--font-medium);
  color: var(--text-color);
}

.nav__dropdown-item:hover {
  color: var(--first-color);
}

.nav__dropdown-icon {
  margin-left: auto;
  transition: .4s;
}

/* Show dropdown collapse */
.nav__dropdown:hover {
  max-height: 100rem;
}

/* Rotate icon arrow */
.nav__dropdown:hover .nav__dropdown-icon {
  transform: rotate(180deg);
}

/*===== Show menu =====*/
.show-menu {
  left: 0;
}

/*===== Active link =====*/
.active {
  color: var(--first-color);
}

/* ========== MEDIA QUERIES ==========*/
/* For small devices reduce search*/
@media screen and (max-width: 320px) {
  .header__search {
    width: 70%;
  }
}

@media screen and (min-width: 768px) {
  body {
    padding: 1rem 3rem 0 6rem;
  }
  .header {
    padding: 0 3rem 0 6rem;
  }
  .header__container {
    height: calc(var(--header-height) + .5rem);
  }
  .header__search {
    width: 300px;
    padding: .55rem .75rem;
  }
  .header__toggle {
    display: none;
  }
  .header__logo {
    display: block;
  }
  .header__img {
    width: 40px;
    height: 40px;
    order: 1;
  }
  .nav {
    left: 0;
    padding: 1.2rem 1.5rem 0;
    width: 68px; /* Reduced navbar */
  }
  .nav__items {
    row-gap: 1.7rem;
  }
  .nav__icon {
    font-size: 1.3vw;
  }

  /* Element opacity */
  .nav__logo-name, 
  .nav__name, 
  .nav__subtitle, 
  .nav__dropdown-icon {
    opacity: 0;
    transition: .3s;
  }
  
  
  /* Navbar expanded */
  .nav:hover {
    width: var(--nav-width);
  }
  
  /* Visible elements */
  .nav:hover .nav__logo-name {
    opacity: 1;
  }
  .nav:hover .nav__subtitle {
    opacity: 1;
  }
  .nav:hover .nav__name {
    opacity: 1;
  }
  .nav:hover .nav__dropdown-icon {
    opacity: 1;
  }

  
}

/* Estilo para o jogo da velha */
.DIVS {
  display: flex;
  flex-wrap: wrap; /* Permite que os quadrados quebrem para a próxima linha */
  justify-content: center;
  gap:1%; /* Espaçamento entre os quadrados */
  margin-top: 2%;
}

.REGRAS_DIV {
  width: calc(33.33% - 80px); /* Largura de cada quadrado */
  /* A fórmula acima calcula a largura dos quadrados: 33.33% do espaço disponível menos 20px de margem */
  
  
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2%; /* Espaçamento entre as linhas */
  cursor: pointer; /* Mostra o cursor como ponteiro ao passar sobre o quadrado */
  transition: transform 0.9s ease-in-out; /* Transição suave para o efeito de transformação */
  border-radius: 15px; /* Adiciona um border-radius aos quadrados */
}

.REGRAS_DIV:hover {
  transform: scale(1.1); /* Aumenta a escala do quadrado em 10% quando hover */
}

/* Estilo para a imagem e texto dentro do quadrado */
.image-container {
  text-align: center;
  margin: 5px; /* Espaçamento entre os contêineres */
}

.image-container img {
  max-width: 60%; /* Tamanho máximo da imagem em relação ao seu container */
  max-height: 60%; /* Altura máxima da imagem em relação ao seu container */
  margin-bottom: 1%; /* Espaço entre as imagens */
  border: 1px solid #333; /* Cor e espessura da borda */
  border-radius: 15px; /* Adiciona um border-radius à imagem */
}

.image-container h2 {
  margin-top: 0.1%; /* Espaçamento superior para o texto */
  font-size: 1.0vw; /* Tamanho da fonte do título */
  color: var(--title-color)
}



.div-container {

  border: 2px solid var(--first-color-light); /* Borda padrão */
  border-radius: 5px; /* Bordas arredondadas */
  text-align: center; /* Centraliza o texto */
  cursor: pointer; /* Cursor de ponteiro para parecer um botão */
  border-color: var(--first-color);
  margin-top: 2%;
  
  
}
.div-container h1 {


  margin-top: 1%
  
}


.image-container h2 {
  margin-left: 5px; /* Adiciona margem à esquerda do texto */
}

.image-container h2 span {
  margin-right: 5px; /* Adiciona margem à direita do símbolo de direitos autorais */
}

.image-container1 {
  display: inline-block;
  vertical-align: top;
  width: calc(33% - 20px); /* Tamanho inicial */
  max-width: 300px; /* Tamanho máximo */
  box-sizing: border-box;
  border: 2px solid var(--first-color-light);
  padding: 10px;
  border-radius: 5px;
  transition: border-color 0.3s, background-color 0.3s, box-shadow 0.3s;
  text-align: center;
  cursor: pointer;
  margin-top: 2%;
  margin-bottom: 1%;
  flex: 1 1 auto; /* Distribui igualmente o espaço disponível */
}

@media (max-width: 1200px) {
  .image-container1 {
    width: calc(33.33% - 20px); /* Reduz para 1/3 da largura se a tela for menor */
    max-width: 250px; /* Reduz o tamanho máximo */
  }
}

@media (max-width: 768px) {
  .image-container1 {
    width: calc(50% - 20px); /* Reduz para 1/2 da largura se a tela for ainda menor */
    max-width: 100%; /* Ocupa toda a largura disponível */
  }
}

@media (max-width: 480px) {
  .image-container1 {
    width: calc(100% - 20px); /* Ocupa toda a largura disponível em telas pequenas */
    max-width: 100%;
  }
}
.div-container h1 {
font-size: 1.4vw;
}

.image-container1:hover {
  border-color: var(--highlight-color); /* Cor da borda ao passar o mouse */
  background-color: var(--first-color-light); /* Fundo ao passar o mouse */
  box-shadow: 0 0 10px rgba(19, 122, 36, 0.2); /* Adiciona sombra ao passar o mouse */
}

.image-container1 h2 {
  margin: 0;
  font-size: 1vw;
  color: var(--title-color);
}

.image-container1 a {
  display: block;
  margin-top: 5px;
  font-size: var(--small-font-size);
  color: var(--text-color);
  word-break: break-all; /* Quebra de linha para URLs longas */
  text-decoration: none; /* Remove sublinhado dos links */
}

.image-container1 a:hover {
  color: var(--highlight-color);
}

.AjustarDivs h1{

  
  color: var(--first-color);
  opacity: 100%;
}

.AjustarDivs h2 , a {

  
  color:var;
  opacity: 100%;
}



.copied-message {
  display: none; /* Ocultar a mensagem inicialmente */
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--container-color);
  border: 1px solid #000000;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 151;
}

.copied-link {
  text-decoration: none; /* Remove sublinhado dos links */
  font-weight: bold;
  color: var(--hover-div); /* Ou a cor que você preferir */
}









/* Estilos para as abas */
.tabs {
  display: flex;
  flex-direction: column;
  height: calc(97vh - var(--header-height));
  background: var(--bory-bg-color);
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin-top: 16px; /* Ajuste este valor para definir a distância da nav */
  position: relative; /* Certifique-se de que está posicionado relativo para ser flutuante */
  z-index: 2; 
}

.tabs__list {
  display: flex;
  background: var(--container-color);
  border-bottom: 1px solid #ccc;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;
  
}

.tabs__list-item {
  padding: 10px 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: background 0.3s, color 0.3s;
  border-radius: 10px 10px 0 0;
  min-width: 120px; /* Defina um tamanho mínimo para todas as guias */
}

.tabs__list-item:not(.active):hover {
  background: var(--bory-bg-color);
}

.tabs__list-item.active {
  background: var(--bory-bg-color);
  color: var(--container-color);
  border-top: 3px solid var(--first-color);
}

.tabs__list-item i {
  margin-left: 10px;
  cursor: pointer;
  transition: color 0.3s;
}

.tabs__list-item.active i {
  color: var(--container-color);
}

.tabs__list-item:not(.active) i:hover {
  color: var(--bory-bg-color);
}

.tabs__content {
  flex-grow: 1;
  overflow-y: auto;
  background: var(--container-color);
  padding: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 1px solid #ccc;
  border-top: none;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  height: calc(97vh - var(--header-height) - 80px); /* Ajuste a altura conforme necessário */
}




/* Modal styling */
.modal {
  display: none;
  position: fixed;
  /* z-index: 2; */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 400px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  animation: fadeIn 0.3s;
}

.close-button {
  color: #aaa;
  float: right;
  font-size: 28vw;
  font-weight: bold;
}

.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}




.carousel {
  position: relative;
  width: 100%;
  height: 100%;
}

.carousel-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.carousel-image.active {
  opacity: 1;
}



.priority {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  background-color: rgba(0, 0, 0, 0.5) !important; /* Fundo desfocado */
  z-index:9999 ;
}

.priority .modal-content {
  width: 300%; /* Largura em porcentagem */
  background-color: #fff !important; /* Fundo do modal */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5) !important; /* Sombra do modal */
  position: relative;
  border-radius: 10px; /* Borda arredondada opcional */
}

.priority .modal-dialog {
  max-width: 150% !important; /* Largura máxima do modal */
  max-height: 150% !important;
}

.priority #loginModal.modal.show {
  background-color: rgba(0, 0, 0, 0.5) !important; /* Fundo desfocado quando o modal está visível */
}

.priority .small-img {
  max-width: 30px !important; /* Largura máxima da imagem */
  max-height: 30px !important; /* Altura máxima da imagem */
}
